a.active {
  background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
  background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}
a.active, a.active:focus, a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}
a.navbar-brand {
  width: 200px;
  text-align: center;
}
