body { 
  padding-top: 70px; 
}
.table-container {
  margin-bottom: 10px;
  max-height: 310px;
}
.table-container::-webkit-scrollbar { width:5px; }
.table-container::-webkit-scrollbar-track { background-color:#D5DFE8; }
.table-container::-webkit-scrollbar-thumb {
  background-color:#337ab7;
  border-radius:10px;
}
.table-container .table-hover tbody tr:hover { background-color: rgba(51, 122, 183, 0.5); }
.table-header  input[type="checkbox"],
.table-container input[type="checkbox"] {
  margin: 0;
  position: relative;
  top: 2px;
}
.table-container input[type="checkbox"] { left: 5px; }
.table-header  input[type="checkbox"] { left: 2px; }
